<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova transação</title>
</head>
<body>
    <form method='POST' action="{{transacao.pk}}">
        <legend><h2>Nova transação</h2></legend>
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Salvar</button>
        <button type="reset">Limpar</button>
        {% if transacao %}
        <a href="{% url 'del_transacao' transacao.pk %}">Apagar</a>
        {% endif %}
        <a href="{% url 'index' %}">Voltar</a>
    </form>
</body>
</html>